<div class="container scale-in-hor-center">
  <div class="card" id="card1">
    <div class="img_container">
      <img class="image" src="/assets/images/alberi.jpg" alt="">
      <div class="middle">
        <div class="text">GARBAGE COLLECTORS</div>
      </div>
    </div>
  </div>
  <div class="card">
        <h4 class="subtitle">GARBAGE COLLECTORS</h4>
        <p>Garbage Collectors è un progetto universitario il quale scopo è quello di creare un social network dove le persone collaborano 
            al fine di rendere il mondo più pulito facilitando la raccolta differenziata.
        </p>
  </div>
  <div class="card s">
      <div class="img_container">
          <img class="image" src="/assets/images/mano.jpg" alt="">
          <div class="middle">
            <div class="text">GARBAGE COLLECTORS</div>
          </div>
      </div>
  </div>
  <div class="card s">
      <h4 class="subtitle">GARBAGE COLLECTORS</h4>
      <p>Garbage Collectors è un progetto universitario il quale scopo è quello di creare un social network dove le persone collaborano 
          al fine di rendere il mondo più pulito facilitando la raccolta differenziata.
      </p>
  </div>
  <div class="card">
      <div class="img_container">
          <img class="image" src="/assets/images/pianeta.jpg" alt="">
          <div class="middle">
            <div class="text">GARBAGE COLLECTORS</div>
          </div>
      </div>
  </div>
  <div class="card">
      <h4 class="subtitle">GARBAGE COLLECTORS</h4>
      <p>Garbage Collectors è un progetto universitario il quale scopo è quello di creare un social network dove le persone collaborano 
          al fine di rendere il mondo più pulito facilitando la raccolta differenziata.
      </p>
  </div>
</div>