<div class="wrapSearch  scale-in-hor-center">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="barCode" aria-describedby="emailHelp" placeholder="Codice a barre" required>
        </div>
       <div class="form-group">
          <input #areaBox type="text" class="form-control" id="area" placeholder="Città" required />
          <input type="checkbox" id="checkBoxArea" name="checkAreaResidenza" (click)="onClickCheckBox()" *ngIf="isAuthenticated()"> <label *ngIf="isAuthenticated()"> Area di Residenza</label>
        </div>
      <button type="submit" class="btn" (click)="onClickSearch()">Cerca</button>
    </form>
</div>

<nav class="navbar">
    <a routerLink="/scanner">
      <button class="barcodeBtn">
          <img class="imgBar" src="assets/images/barcode.png" alt="">
      </button>
    </a>
</nav>
