<!-- <div class="ricerca scale-in-hor-center">
  <img src="assets/images/logoCentrale.png" class="logoCentrale scale-down-center">
  <form method="GET" class="form">
    <input id="barCode" type="text" placeholder="8001050026066" class="inputN"><br>
    <input #areaBox id="area" type="text" placeholder="Città" class="inputT" (input)="search(areaBox.value)"><br>
  </form>
  <button (click)="onClick()" class="inputS">Cerca</button>
</div>

<div class="divider"></div>

<div class="container" *ngIf="product!==undefined">
  <h2 class="nomeProdotto">Prodotto:  </h2> 
  <h3> {{product.nomeProdotto}} </h3>
</div>

<div class="contenComp" *ngIf="politiche$">
  <div id="containerComponente" class="card" *ngFor="let politica of politiche$" [style.color]='getColor(politica)'>
      <h2>{{politica.componente.nomeComponente}}</h2><br>
  </div>
</div> -->


<div class="wrapSearch  scale-in-hor-center">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="barCode" aria-describedby="emailHelp" placeholder="Codice a barre" required>
        </div>
       <div class="form-group">
          <input type="text" class="form-control" id="area" placeholder="Città" required>
          <input type="checkbox" id="checkBoxArea" name="checkAreaResidenza" (click)="onClickCheckBox()" *ngIf="isAuthenticated()"> <label *ngIf="isAuthenticated()"> Area di Residenza</label>
        </div>
      <button type="submit" class="btn" (click)="onClickSearch()">Cerca</button>
    </form>
</div>

<div class="wrapRisultato scale-in-top" *ngIf="product!==null">
  <div class="productTitle">
    <div>
      <h4>Scheda prodotto: {{product.nomeProdotto}}</h4>
    </div>
    <div *ngIf="product===undefined && product!==null">
        <h4>Il prodotto cercato da lei non è ancora disponibile. </h4>
    </div>
  </div>
  <div class="containerComponenti" *ngIf="checkProduct()">
    <h4 class="attributoColonna1">Componente</h4>
    <h4 class="attributoColonna2">Politica di Smaltimento</h4>
    <div *ngFor="let politica of politiche$" class="componente">
        <h5 class="nomeComponente">{{politica.componente.nomeComponente}}</h5>
        <h5 class="politica">{{politica.categoria.categoria}}</h5>
    </div>
  </div>
</div>


<nav class="navbar">
    <a routerLink="/scanner">
      <button class="barcodeBtn">
          <img class="imgBar" src="assets/images/barcode.png" alt="">
      </button>
    </a>
</nav>
