.container{
    width: 55%;
    margin: 5% 22.5% 3% 22.5%;
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0;
}

.title{
    background-image: url("/assets/images/rainforest.jpg");
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid transparent;
    text-align:center;
    vertical-align: middle;  
}

.text{
    color: white;
    font-family: Helvetica;
    font-size: 24px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.container-proposte{
    width: 100%;
    border-right:1px solid gray;
    border-left:1px solid gray;
}

.proposta{
    border-bottom: 1px solid gray;
    vertical-align: middle;
}
.infoCampi{
    display: block;
    border-bottom: 1px solid gray;
}

.campo{
    display: inline-block;
    text-align: center;
    width: 33%;
    color: black;
    font-family: Helvetica;
    font-size: 18px;
    border-right: 1px solid gray;
}

.prodottoInfo{
    display: inline-block;
    text-align: center;
    width: 33%;
    font-size: 16px;
    font-family: Helvetica;
    padding: 0;
}

.chooseButton{
    border-radius: 0px;
    display: inline-block;
    font-family: Helvetica;
}