.divider{height: 80px;}

img{width: 100%; display: block;backface-visibility: hidden; opacity: 0.4;  background-color: rgba(0, 0, 0, 1);
    border-top-left-radius: 10px; border-top-right-radius: 10px; height: 100px; }

form{width: 50%; padding:10% 3% 3% 3%; overflow: hidden;
    display: grid; margin: auto;}

button{font-size: 20px;  font-family: Helvetica; width: 50%; margin:auto; border-radius: 25px; margin-top: 5%;}

.loginTitle{width: 100%; padding-top: 0%; border-top-left-radius: 10px; border-top-right-radius: 10px; 
            opacity: 0.7; display: block; background-color: black;}

.wrapLogin{display: block; border: 1px solid rgba(128, 128, 128, 0.692); width: 40%; margin: auto; padding: 0% 0% 5% 0%;
    border-radius: 10px; margin-top: 10%;}

h2{position: absolute;}

.btn{background-color: rgba(2, 6, 15, 0.815); opacity: 0.8; color: white; }

.btn:hover{opacity: 1;}


.middle {
    
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.text {
    background-color:transparent;
    color: white;
    font-size: 22px;
    padding: 16px 32px;
    font-weight: bold;
  }

@media (max-width: 767px){
    form{width: 100%;}
    .wrapLogin{width: 90%;  margin-top: 20%;}
}