
.nav-item{font-family: Helvetica; font-weight: bold; font-size: 20px; display: block; float: left; width: 60%; margin: 0 20%; text-align: center;}

.navbar-nav{width: 100%; display: block; margin-top: 30%;}

.phone{display: none;}

.divider{height: 30px;}

.main{height: 100px;}

.navbar{position: fixed; z-index: 1; width: 100%; top:0;}

#hamburger{font-size: 45px; font-weight: bold; padding:5px; right: 0; display: inline; position: fixed;
           z-index: 2; transition: 0.5s; top:0;
           margin-right: 20px;
           background-color: white;}

.sidenav{height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.8s;
        padding-top: 0px;}

.btnLog{bottom: 0;
        display: block; 
        border-radius: 20px;
        box-shadow: none;
        border:0;
        padding: 2% 0;
        width: 40%;
        position: absolute;
        margin: 0 30% 20% 30%;
        text-align: center;
        font-size: 18px;
        font-family: Helvetica;
        font-weight: bold;
        color: white;
        background-color: black;
        opacity: 0.8;
        transition: 0.5s;
        }

.btnLog:hover{opacity: 1;
              width: 42%;
              transition: 0.5s;}


@media (max-width: 767px)
{
  #logo{display: none;}
  #itemDrop{display: none;}
  .phone{display: block;}
  #navbarButton{width: 56px; position:relative;}
  .main{display: none}
  #hamburger{padding: 0 3%; margin: 0;}

}

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}


 @-webkit-keyframes kenburns-top {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        100% {
          -webkit-transform: scale(1.25) translateY(-15px);
                  transform: scale(1.25) translateY(-15px);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      @keyframes kenburns-top {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        100% {
          -webkit-transform: scale(1.25) translateY(-15px);
                  transform: scale(1.25) translateY(-15px);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      


