<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/home">
    <img id="logo" src="assets/images/logoGC3cm.png">
    </a>
    <button id="hamburger" (click)="openCloseSideNav()" class="btn">&#9776;</button>
    <div id="sideNav" class="sidenav">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home"> 
                <i class="fa fa-home"> Home</i>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/search">
                  <i class="fa fa-search"> Ricerca</i>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/insert">
                <i class="fa fa-plus"> Inserisci</i>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/insert">
                  <i class="fa fa-user"> Account</i>
                </a>
            </li>
          </ul>
          <button class="btnLog" (click)="onClickLog()">{{buttonLogName}}</button>
    </div>
  </nav>
  
  <div class="main"></div>
    <router-outlet (activate)="onActivate()"></router-outlet>
  

  <div class="divider"></div>
  <!-- <app-messages></app-messages> -->