<div class="container-title">
  <h3>Dashboard</h3>
  <h5>Bentornato {{nomeAutorita}}</h5>
</div>
<div class="container-data">
  <div class="container-cards">
    <ul class="cardlist">
      <li class="card" style="background-color:rgb(255, 255, 255)">
        <i class="far fa-user"></i>
        <h2 class="testoPrincipale numscroller" data-min="0" data-max=utenti data-delay="5" data-increment="1">{{utenti}}</h2>
        <h5 class="testoSecondario">Utenti</h5>
      </li>
      <li class="card" style="background-color:rgb(58, 182, 219)">
        <i class="far fa-lightbulb"></i>
        <h2 class="testoPrincipale">{{proposte}}</h2>
        <h5 class="testoSecondario">Proposte</h5>
      </li>
      <li class="card" style="background-color:rgba(120, 8, 165, 0.7)">
        <i class="fas fa-suitcase"></i>
        <h2 class="testoPrincipale">{{prodotti}}</h2>
        <h5 class="testoSecondario">Prodotti</h5>
      </li>
      <li class="card" style="background-color:rgb(255, 255, 255)"> 
      </li>
    </ul>
  </div>
</div>
